ion-tab-bar {
    --background: #e7d8ca; /* Color de fondo del tab bar */
    --color: #b49195; /* Color de los iconos y etiquetas inactivos */
    --color-selected: #ea6372; /* Color de los iconos y etiquetas activos */
  }
  